@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//----------- Media Queries Manager ----------//

/*

(( 1em = 16px ))
- phone : < 600px , 37.5em;
- tab-port : <900px , 56.25em;
- tab-land : <1200px , 75em;
- #normal styles apply : [1200px , 1800px];
- big-desktop : >1800px , 112.5em;

*/
/* 
@mixin respond($break-point) {
  @if $break-point==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $break-point==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $break-point==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $break-point==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
 */
