$red: #ff0000;
$red-dark1: rgb(209, 9, 9);
$red-dark2: #b00;

$fsd: #ffffff;
$grey-light1: #e6e6e6;
$grey-light2: #ccc;
$grey-light3: #b3b3b3;

$grey-dark: #333232;
$grey-dark2: #222121;
$grey-dark3: #191919;

$font-badScript: "Bad Script", cursive;
$font-russo: "Russo One", sans-serif;
