.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -100vw;
  z-index: 999999;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s;
  visibility: visible;
  border-radius: 0 25px 25px 0;
  padding: 3rem 1rem 0 0;
  background: linear-gradient(
    189.83deg,
    rgba(63, 2, 2, 0.7) 14.34%,
    rgba(252, 12, 12, 0.5) 46.28%,
    rgba(84, 12, 12, 0.7) 84.82%
  );
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  &__elem {
    height: 10rem;
    width: 100%;
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
    box-shadow: 10px 30px 10px $grey-dark;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid black;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: -2.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: -2rem;
      bottom: -1.5rem;
      background: transparent;
      height: 4rem;
      width: 40rem;
      transform: rotateZ(12deg);
      box-shadow: inset 0 -20px 30px $red-dark1;

      @media only screen and(min-width:300px) {
        transform: rotate(10deg);
        bottom: -0.4rem;
      }
    }

    &__title {
      font-size: 1.4rem;
      font-family: $font-russo;
      text-align: center;
      position: absolute;
      bottom: 1.7rem;
      left: 50%;
      margin-left: -4rem;
      transform: rotateZ(10.5deg);

      @media only screen and(min-width:300px) {
        transform: rotateZ(9deg);
        bottom: 1.4rem;
        font-size: 1.7rem;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &.active {
    left: 0;
  }

  @media only screen and(min-width:300px) {
    width: 85vw;
    left: -85vw;
  }

  @media only screen and(min-width:450px) {
    width: 55vw;
    left: -55vw;
  }

  @media only screen and(min-width:650px) {
    width: 40vw;
    left: -40vw;
  }

  @media only screen and(min-width:750px) {
    width: 35vw;
    left: -35vw;
  }

  @media only screen and(min-width:1000px) {
    width: 25vw;
    left: -25vw;
  }

  @media only screen and(min-width:1600px) {
    width: 16vw;
    left: -16vw;
  }
}
.close {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: 0;
  height: 1rem;
  width: 2rem;
  cursor: pointer;
}
