.carousel-3d-container {
  .carousel-3d-slide {
    padding: 20px;

    .title {
      font-size: 22px;
    }
  }
}

#example {
  height: 30vh;
  background-color: $grey-dark2;
  margin-bottom: 1rem;
}
